extends ../layout.pug

block contenido
    h1.text-center.mt-5.upTask SmartList.
    .container
        .alert.alert-info.mx-auto(role='alert')
            | Tu cuenta ha sido creada exitosamente, 
            | ahora solo tienes que confirmarla para poder ingresar, por favor revisa tu correo electrónico 
            | y sigue las instrucciones marcadas.

