extends ../layout.pug

block contenido
    h1.text-center.mt-5.upTask SmartList.
    h3.text-center.lead.h1.text-white La manera más fácil de gestionar tus proyectos.
    .container.mt-5
        .row 
            .col-md-6.col-xl-5.col-lg-5.mx-auto 
                form(action="/", method="post", class="bg-form p-3 p-md-5 rounded shadow-sm")
                    h3.text-center.text-white.mb-3.texto  Inicia Sesión
                    
                    include ../includes/alertas.pug  

                    .form-floating.mb-3
                        input(type="email", name="correo", id="correo", class="form-control", placeholder="ejemplo@correo.com..")
                        label(for="correo") Correo electrónico  
                    .form-floating.mb-3
                        input(type="password", name="password", id="password", class="form-control", placeholder="Ingresa tu contraseña")
                        label(for="correo") Contraseña
                    input(type="submit", value="Iniciar sesión", class="btn btn-primary btn-lg btn-block w-100")

                .mt-4.d-flex.justify-content-between.px-2
                    a(href="/registro", class="link-offset-2 link-underline link-underline-opacity-0 link-color") Crear cuenta
                    a(href="/olvide", class="link-offset-2 link-underline link-underline-opacity-0 link-color") Olvide mi contraseña